 body{
 	width: 100%;
 	height: 100%;
 	background-color: #616161;
 }
 #map{
    width:100%;
    height:300px;
    background-color: grey;
    border-radius: 20px;
}
.title{
	color: #ff6f00;
}
.btn-theme{
	background-color: #ff6f00;
}
.title-white{
	color: #fff;
}
img{
	width: 100%;
}